{%extends "layaut.html"%} {%block content%}
<!--Navbar for registered users-->
<!--Horizontal nav-->
{%from "macros/nav2.html" import nav2%} {{nav2([])}}
<!--Vertical nav-->
{%from "macros/vertical.html" import vertical%} {{vertical([])}}
<div class="page-content p-5" id="content">
    <div class="sakura-form">
        <form class="row g-3" action="{{url_for('contact')}}" method="POST">
            <div class="mb-3">
            </div>
            <div class="col-12">
                <h5 class="text-light text-center bg-dark" id="title-form">Contacto</h5>
            </div>
            <div class="col-12">
                <label for="contactTitle" class="form-label text-light">Asunto</label>
                <input type="text" class="form-control bg-dark text-light" id="contactTitle" placeholder="title" name="contactTitle">
            </div>
            <div class="col-12">
                <label for="contactMessage" class="form-label text-light">Mensaje</label>
                <textarea type="text" class="form-control bg-dark text-light" id="contactMessage" placeholder="message" name="contactMessage" rows="3"></textarea>
            </div>
            <div class="mb-3">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-danger" type="submit" onclick="view()">Enviar mensaje</button>
            </div>
            <div class="mb-3">
            </div>
        </form>
    </div>
</div>

{%endblock%}