<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
</head>

<body>

    <header>
        <h2>Sakura Secure Passwords, verificacion de email.</h2>
    </header>
    <br>
    <div>
        <h3>Ingresa el siguiente codigo para completar la verificacion:</h3>
        <h3>SSP-{{code}}</h3>
    </div>
    <br>
    <br>
    <p>Has recibido este correo electrónico porque has solicitado una nueva cuenta de Sakura Secure Passwords. Puedes ignorar este mensaje si no lo has solicitado</p>
    <footer>
        <p>Todos los derechos reservados a Sakura Secure Passwords</p>
    </footer>
</body>

</html>